/* sns */
#sns {
  width: 95px;
  height: 70vh;
  padding-bottom: 5vh;
  z-index: 1;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 5%;
}


.list li {

    margin-top: 15px;
    width: 100%;
    margin-bottom: 4vh;
    margin-left: 15px;
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #f0ebe28a;
    opacity: 1;
  }
#sns .list ul li a{
  margin-left: 17px;
}

/* nav */
nav {
  position: fixed;
  top: 0;
  z-index: 35;
  width: 100%;
  background: #fff;
  padding: 20px 60px;
  box-shadow: 0px  0px 5px rgb(157 131 121 / 82%);}

nav .nav-inner {
  margin: auto;
  width: 1400px;
  display: flex;
}
.logo {
  margin-top: -14px;
  width: 735px;
}
h1{
  width: 50px;
}

@keyframes ch-anim {
  from {stroke-dashoffset : 84px;}
  to {stroke-dashoffset : 0px;}
}

nav .gnb {
  display: flex;
  width: 600px;
}
nav li {
  list-style: none;
  width: 18%;
  text-align: center;
}
nav li a {
	color: #666;
	text-decoration: none;
	display: inline-block;
	padding: 5px;
	width: 30px;
	height: 30px;
	text-align: center;
	line-height: 30px;
  position: relative;
}
nav li a:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 2px;
	transform: scaleX(0);
	transition: all 0.5s;
	transform-origin: left
}
nav li a::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    transform: scaleX(0);
    transition: all 0.5s;
    transform-origin: right;
}
.header a:hover{
    color:#e5d9c9;
}
.header ul li.active a{
    color: #e5d9c9;
}
ul li.active a::before,
ul li.active a::after{
    transform: scaleX(1);
}
ul li.active a:before, 
ul li.active a:after, 
ul li a:hover:before, 
ul li a:hover:after {
    transform: scaleX(1);
}


ul li a:after {
    content: '';
    position: absolute;
    top: 35px;
    left: -5px;
    width: 65px;
    height: 2px;
    background-color:#e5d9c9;
    transform: scaleX(0);
    transition: all 0.5s;
    transform-origin: left;
}
.dairy{
  color:#e5d9c9;
  animation: bounce .3s ease  normal;
  top: -5px;
} 
@keyframes bounce {
  100%{
    top: -5px;
  }
}


/* container */

.container {
  margin: 0 auto;
  width: 100%;
  overflow: hidden;
  max-width: 1400px;
}

img{
  border: 0 none;
  width: 100%;
}
/* section */

.section{
  width: 1400px;
  height: 100vh;
  margin: 0 auto;
}
#project .container{
  display: flex;
  justify-content: space-between;
  padding-top: 98px;
  position: absolute;
}
.portpolio {
  display: flex;
}
/* home */
#home{
  height: 100vh;
}
.home-f {
  display: flex;
  padding-top: 15vh;
}
#home .home-left {
  width: 700px;
  margin-left: 150px;}
.text_box{
  display: flex;
  justify-content: left;
  align-items: center;
  height: 100px;
  font-size: 2rem;
}

.section#home {
  overflow: hidden;
  position: relative;
}

.section#home .home-left p {
  line-height: 2.3rem;
  margin-top: 150px;
  font-size: 35px;
  font-family: "SUIT-Medium", sans-serif;
}
.section#home .home-left p.home-p{
  margin-top: 0;
  margin-bottom: 20px;
  filter: drop-shadow(rgba(92, 167, 177, 12.718) 0.3em 0.1em 0.3em);
}

.section#home .home-left .text_box {
  font-size: 65px;
  font-family:"SUIT-Medium", sans-serif;;
  margin-left: -5px;
}
.section#home .home-left h2 span {
  color: #eec2ca;
}
.section#home .home-right {
  width: 660px;
}
.section#home .home-right img {
  margin-left: 50px;
}


/* main title */

.h2-title {
  font-size: 46px;
  padding-top: 30px;
  font-family:"SUIT-Medium", sans-serif;;
  margin-left: -3px;
}
.h2-title::after{
  content: '';
  width: 485px;
  height: 9px;
  background-color: #eec2ca;
  display: block;
}
/* profile */
.slogan{
    position: relative;
    overflow: hidden;
    display: flex;
}
.slogan .bold{
  font-weight: 600;
  font-size: 35px;
}

#profile .p-title::after {
  left: 83px;
}

.profile-content{
  padding: 155px 0;
}
.porfile-img img{
  width: 580px;
}
/* profile-info */
.info_box{
  text-align: center;
  float: right;
  margin-top: 20.5rem;
  margin-right: -500px;
  width: 100%;
}
.info_box p span, address a{
  display:block;
  color:#666;
  line-height:1.5;
  text-decoration: none;

}
.info_box p span.bold{
  font-size:30px;
  color:#333;
}
.info_box p span:nth-of-type(2){
  font-size:18px;
  color:#333;
  margin-bottom:1.5rem;
}
#profile address{
  width:40%;
  margin:0 auto;
  text-align: center;
}
#profile address a:hover{
  text-decoration: underline;
}
.resume_box{
  width: 88%;
  display: flex;
  flex-wrap: wrap;
  margin-top: -37%;
}
.resume_box>div{
  width:45%;
  margin-bottom:3rem;
}
.resume_box h3.bold{
  font-size:20px;
  font-weight: bold;
  text-transform:uppercase;
  margin-bottom:2rem;
  color: #8b6557cf;
}
.resume_box .personality ul{
  display:flex;
  flex-wrap:wrap;
  width:80%;
}
.resume_box .personality ul li{
  padding:5px 14px;
  border:1px solid #222;
  border-radius:30px;
  margin:0 .5rem .5rem 0;
  transition:all 0.3s;
}
.resume_box .personality ul li:hover{
  background-color:#8b6557cf;
  border-color:#444;
  color:#fff;
  transition:all 0.3s;
}
.resume_box ul li{
  line-height:1.75;
}
.resume_box ul li span.bold{
  margin-right:1.2rem;
}
.resume_box .education ul li:first-child{
  line-height:1.5;
}
.resume_box .education ul li span.line2{
  display:inline-block;
  margin-left:5.2rem;
}

.resume_box .career ul li{
  margin-right:1.2rem;
}

.profile-info{
  width: 500px;
  font-size: 17px;
  line-height: 27px;
}
.profile-info h3{
  font-size: 35px;
  -webkit-font-smoothing: antialiased;
  display: flex;
}
.profile-info h3 span{
  position: relative;
  display: inline-block;
  animation: bounce .5s ease infinite alternate;
  top: 5px;
}
.profile-info h3 span:nth-child(2) { animation-delay: .5s; }
@keyframes bounce {
  100% {
    top: -5px;
  }
}

.profile-info h3 span,
.profile-info .hashtag{
  color:#8b6557cf;
  font-weight: 600;
}

.profile-info h4{
  font-size: 20px;
  padding: 50px 0 17px 0;
  font-family:"SUIT-Medium", sans-serif;
}
.personal-info ul{
  list-style: none;
  width: 100%;
}
.profile-info .personal-info ul li{
  width: 270px;
  padding-bottom: 10px;
}
.profile-info .personal-info ul li.li-w{
  width: 200px;
}
.profile-img img{
  width: 330px;
  height: 400px;
  border-radius: 50%;
  margin-left: 75px;
  margin-top: -45px;
}
.fa-brands{
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
  margin-top: 18px;
}

/* skills 그래프 */

.profile_text_box {
  width: 100%;
  height: 200px;
  color: #8b6557cf;
  display: flex;
  margin-left: 70px;
  
}

.profile_img_box img {
	position: relative;
	z-index: -1;
	top: -250px;
	left: 150px;
	opacity: 0.4;
}

.profile_img_box img:hover {
	opacity: 1;
}


.progress-bar {
  position: relative;
  left: 0px;
  width: 85%;
  height: 20px;
  margin: 0.8em auto;
  margin-bottom: 20px;
  margin-right: 26em;
  border: 1px solid #8b6557cf}

.progress-bar .bar {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 0;
    background-color:#8b6557cf;
}

.progress-bar .rate {
    position: absolute;
    top: 0;
    right: 15px;
    bottom: 0;
    line-height: 20px;
    font-size: 16px;
    color:#8b6557cf;
}


/* project */
#project .mockup-phone img{
  margin-right: -310%;
  float: right;
  margin-top: -330px;
}

.left h3.bold{
  margin-top: 30px;
  font-size: 2.4vw;
  font-style: italic;
  padding-left: 16px;
  color: #8b6557cf;
  opacity: 1;
}
.left h3.bold span{
  display:block;
  font-size:9.5vw;
  margin-top:-15px;
  margin-left:-15px;
}

.left .btns{
  display: flex;
}
.left .btns a{
  padding: 17px 20px;
  width: 87px;
  text-decoration: none;
  display: block;
  font-size: 18px;
  font-weight: 600;
  color: #666;
  background-color: #fff;
  border: 1px solid #8b6557cf;
  border-radius: 30px;
  text-align: center;
  margin: 23px 9px 0 28px;

}
.left .btns a:hover{
  padding: 17px 20px;
  width: 87px;
  text-decoration: none;
  display: block;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  background-color: #8b6557cf;
  border: 1px solid #8b6557cf;
  border-radius: 30px;
  text-align: center;
  margin: 23px 9px 0 28px;

}

.left{
    width: 700px;
    position: relative;
}
.left .explain_box li p {
  width: 491px;
  line-height: 37px;
  white-space: pre-line;
  margin-top: 15px;
  border-bottom: 1.3px solid #8b6557cf;
  margin-left: 14px;
  color: #666;
  font-weight: 400;
  font-size: 16px;
}
.explain_box li span{
  margin-left: 12px;
  line-height: 27px;
  font-size: 20px;
  color: #333;
}

.explain_box .title ul{
  margin-right: 40px;
  line-height: 27px;
}
.mini_tit{
  font-weight: 400;
  font-size: 17px;
  margin-left: 14px;
  padding-top: 10px;}

.explain_box .contents.fl{
  padding-top: 210px;
  float: left;
  line-height: 35px;
  color: #666666;
  margin-left: -53%;
  font-size: 17px;
}
.left .explain_box .pink_mini {
  display: inline-block;
  background-color:#8b6557cf;
  text-align: center;
  padding: 10px 20px;
  border-radius: 30px;
  color: #fff;
  margin-bottom: 1rem;
  margin-right: 1rem;}

.right_bold{
  box-sizing: border-box;
  float: right;
  color: rgb(241, 57, 105);
  font-weight: bold;
  font-size: 75px;
  margin-top: -47%;
  margin-right: 12%;
  width: 25%;
}

.app_btn{
  text-decoration: none;
  margin-left: 65%;
  /* display: block; */
  font-size: 20px;
  font-weight: 600;
  color: #666;
  width: 100px;
  height: 50px;
  background-color: #fff;
  border: 1px solid #f13969;
  border-radius: 50px;
  text-align: center;
  line-height: 50px;
  position: absolute;
  margin-top: -285px;
}
.app_btn:hover{
    color: #fff;
    width: 100px;
    height: 50px;
    background-color: #f13969;
    border: 1px solid #f13969;
    border-radius: 50px;
    text-align: center;
    line-height: 50px;
    position: absolute;
}

.app_explainbox{
  margin-top: -40%;
  font-family: " SUIT-Medium", sans-serif;
  float: right;
  margin-right: 1%;
}
.app_explainbox li p{
  width: 460px;
  line-height: 41px;
  white-space: pre-line;
  margin-top: 1px;
  border-top: 2px solid #f13969;
  border-bottom: 2px solid #f13969;
  color: #666;
  font-weight: 400;
  font-size: 16px;
}
.app_explainbox title ul{
  margin-right: 40px;
  line-height: 27px;
}
.app_contents{
  line-height: 26px;
  margin-left: 33%;
  margin-top: -9%;}
.app_tit{
  font-weight: 400;
  font-size: 17px;
  margin-left: 0px;
  padding-top: 14px;
}
.right{
  width: 680px;
  margin-top: 25px;
}
.mockup{
  width: 446px;
  height: 33px;
  position: relative;
  top: 30px;
}
.mockup .pc{
  position: absolute;
  width: 100%;
  }
.mockup_m {
  position: absolute;
  right: -30px;
  bottom: -340px;
}
.mockup .mobile {
  width: 136px;
  position: relative;
  z-index: 20;
}
.mockup a.hidden_m {
  display: block;
  width: 121px;
  height: 257px;
  position: absolute;
  right: 8px;
  top: 6px;
  overflow: hidden;
  z-index: 1;
  border-radius: 5px;
}

.mockup a.hidden_m img {
  width: 100%;
  position: relative;
}

.mockup a.hidden{
  display: block;
  width: 403px;
  height: 228px;
  position: absolute;
  top: 22px;
  left: 22px;
  overflow: hidden;
}

.mockup a.hidden img{
  width: 100%;
  position: relative;
}

.mockup_tab .tablet {
  left: -96px;
  height: 265px;
  width: 280px;
  position: relative;
  bottom: -115px;
}
.mockup_tab .hidden_tab {
  display: block;
  width: 220px;
  height: 205px;
  position: absolute;
  left: -38px;
  bottom: -318px;
  overflow: hidden;
  z-index: 1;
  border-radius: 2px;
}
.mockup_tab .hidden_tab img {
  width: 75%;
  position: relative;
}
.site-name {
  font-size: 25px;
  text-align: right;

}
.site_name::after {
  content: '';
  width: 485px;
  height: 9px;
  background-color: #8b6557cf;
  display: block;}

#project_app .mockup {
  position: relative;
  width: 405px;
  height: 770px;
  border-radius: 30px;
  overflow: hidden;
  background: url(../images/phone_mockup.png) center center / 100% 100% no-repeat;
  left: 30px;

}
#project_app .crop {
  position: absolute;
  overflow: hidden;
  width: 362px;
  height: 720px;
  left: 200px;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 45px;
}

#project_app iframe {
  width: 100%;
  height: 715px;
}
#project_app .app_box{
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin-top: 6.5rem;
  position: relative;
}
#project_app .gif{
  width: 20%;
}
#project_app .gif img{
  width: 100%;
}

/* footer */
#footer {
  padding: 200px 0 50px 0;
  position: relative;
  color: #666;
}
.inner{
  max-width: 80%;
  margin-left: 14%;
}
.tit{
  font-size: 6vw;
  font-weight: 900;
  font-family: "SUIT-Medium";
}
.desc {
  font-size: 30px; 
  font-weight: 200; 
  line-height: 1.8;
  font-family: "SUIT-Medium"}

.f_contents {
  padding: 50px 0 100px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.f_left {
  width: 50%; 
  border-radius: 50%;}


.f_right {
  width: 40%;
  margin-right: 100px;
}
.f_mail {
  width: 100%;
  padding: 20px 30px;
  border: 2px solid #fff;
  border-radius: 30px;
}
.f_mail input,
.f_mail textarea {
  width: 100%; 
  padding: 10px;
  font-size: 17px; 
  line-height: 1.2; 
  font-weight: 200; 
  font-family: "SUIT-Medium"; 
  letter-spacing: 1px;
  background-color: #fff;
  border: none;
  border-bottom: 1px solid rgba(255,255,255,0.5);
  outline: none;
}
.f_mail .fEmail {margin: 20px 0;}
.f_mail textarea {border: 1px solid rgba(255,255,255,0.5)}
.f_mail .f_btn {
  padding: 10px 30px;
  margin: 10px 0;
  font-size: 16px;
  color: #666;
  cursor: pointer;
  background: #fff;
  border: none;
  border: 3px solid transparent;

}
.f_btn:hover{
  color: #fff;
  background-color: #666;
  border: 3px solid #fff;
}
.copy {
  font-size: 15px;
  text-align: center;
  height: 40px;
  line-height: 40px;
  margin-right: 50px;
}

/* contact */
#contact .p-title::after {
  left: 75px;
}

#contact .content h2{
  font-size: 2.9vw;
  padding-top: 120px;
  text-align: left;
  font-family: "SUIT-Medium";
}
#contact .bold{
  font-weight: bold;
}
.bold span{
  font-weight: 400;
}

#contact p {
  font-weight: 400;
  text-align: left;
  color: rgba(139, 101, 87, 0.81);
  margin-top: 35px;
  font-size: 23px;
}
#contact .qr p{
  font-weight: 400;
  text-align: center;
  color: rgba(139, 101, 87, 0.81);
  margin-top: 15px;
  font-size: 20px;
}

#contact .content-info{
  padding-top: 30px;
  font-size: 23px;
}
#contact span{
  padding-right: 20px;
}
#contact .content{
  width: 100%;
  margin: 0 auto;
  height: 59vh;
  margin-top: -50px;

}


@keyframes fade-in {
  to {
    opacity: 1;
  }
}
/* dairy */
.dairy{
  position: relative;
  top: 12px;
  left: -115px;
}
.dairy a{
  text-decoration: none;
  color: #666;
}
.dairy a:hover{
  color:#e5d9c9;
}
/* qr */
#contact{
  position: relative
}
#contact .qr{
  width: 200px;
  text-align: center;
  position: absolute;
  top: 375px;
  left: 230px;
}
.qr img{
  width: 140px;
  height: 140px;
  text-align: center;
}

/* top 버튼 */

#top .top_visible{
  opacity: 1;
}
#top{
  position: absolute;
  right: -5%;
  bottom: 10%;  
  background-color:  #8b6557cf;
  color: #ffffff;
  border: 3px solid transparent;
  border-radius: 10px;
  padding: 8px 12px;
  text-transform: uppercase;
  font-weight: bold;
  box-shadow: 0 0 4px 0 rgb(0 0 0 / 25%);
  display: inline-block;
  font-size: 14px;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}
#top:hover{
  color:#8b6557cf;
  background-color: #fff;
  border: 3px solid #fff;
}


